:root {
  --color-base-background: #FFF;
  --color-base-background-lighter: #E7E7E7;
  --color-base-text: #111;
  --color-base-text-lighter: rgba(21, 21, 21, 0.8);
  --color-border: rgba(115, 125, 130, 0.4);
  --color-primary-background: #D84B5A;
  --color-primary-text: #D84B5A;
}
